body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/dTuctf.jpg");
  background-size: cover;
}

p {
  padding: 5px;
  /* background: rgba(0, 0, 0, 0.6); */
  color: brown;
  font: 18px Segoe Script, sans-serif;
}
#petShow {
}
#petShow .container {
  margin: 0 auto;
  max-width: 50%;
  padding: 40px;
  text-align: center;
}

#petShow .border {
  border-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
